<%- include('../partials/header') -%>
    <div class="ui one column page grid">
        <div class="column twelve wide">
            <%- include('../partials/message', { message : flash_message}) %>
                ADMIN
        </div>
    </div>
    <%- include('../partials/footer') -%>