<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      fetch("http://localhost:8888/c")
        .then((response) => response.json())
        .then(({ users }) => {
          let u = "<ul>";
          for (const user of users) u += `<li> ${user.name}  </li>`;
          const container = document.querySelector(".c");
          container.innerHTML = u;
        });
    </script>
  </head>

  <body>
    <div class="c"></div>
  </body>
</html>
